<div class="call">
  <div class="call-box-top">
    {% if include.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ include.phone }} </div>
    {% endif %}
    {% if include.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .include.email }}">
        {{ include.email }}
      </a>
    </div>
    {% endif %}
    {% if include.address %}
        <div class="call-address"><strong>Address: </strong> 
          <p>{{ include.address }} </p>
        </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ include.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
