<div class='header'>
  <div class="logo-container">
    <div class="logo">
      <a class="logo-desktop" href="{{ site.baseurl }}"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
  </div>
  <div class="masthead-container">
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>